<!DOCTYPE html>
<html lang="ja">
<%- include('../_include/_head') %>

<body>
  <div class="wapper p-top">
    <%- include('../_include/_header_low') %>
    <main>
      <section class="c-mv-cooking">
        <h2 class="c-mv_low_title">お料理</h2>
      </section>

      <div class="c-nav">
        <div class="l-container">
          <p><a href="/">トップ</a> > 料理</p>
        </div>
      </div>

      <div class="c-textArea-low">
        <p class="c-textAera-low_text">
          創業より受け継がれてきた石井花壇の和の造り<br>
          温海の雄大な絶景を堪能していただけるように設計された客室<br>
          ゆるやかに流れ行く時間に身を委ねて<br>
        </p>
      </div>

      <section class="c-low_message">
        <div class="l-container">
          <div class="c-low_message_list">

            <div class="c-low_message_item" data-aos="fade-up"  data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/cooking01.jpg" alt="地元食材にこだわった会席料理">
              </div>
              <div class="c-low_message_item_textArea_cooking">
                <h3 class="c-low_message_item_textArea_title">地元食材にこだわった会席料理</h3>
                <p class="c-textArea">
                  みずみずしくほのかに甘い野菜、新鮮で味に深みがある魚介類、肉類。<br>
                  旬の素材をそのままに生かす、経験に裏打ちされた確かな技。<br>
                  四季ごと、日ごとに変化する味わいを、どうぞご堪能ください。<br>
                </p>
              </div>
            </div>
            <div class="c-low_message_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/cooking02.jpg" alt="熱海の漁港で目利きの品を">
              </div>
              <div class="c-low_message_item_textArea_cooking">
                <h3 class="c-low_message_item_textArea_title">熱海の漁港で目利きの品を</h3>
                <p class="c-textArea">
                  石井花壇でお出しする料理はすべて料理長である大将の目利きで、<br>
                  熱海の魚市場でその日のうちに仕入れたものを使用しております。<br>
                  日本海の宝玉を十分にお楽しみください。<br>
                </p>
              </div>
            </div>
            <div class="c-low_message_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/cooking03.jpg" alt="食材が一流、職人も一流">
              </div>
              <div class="c-low_message_item_textArea_cooking">
                <h3 class="c-low_message_item_textArea_title">食材が一流、職人も一流</h3>
                <p class="c-textArea">
                  石井花壇の料理人は料亭で20年経験を積んだものばかり。<br>
                  その時の最も旬な食材を、最高の調理でお届けします。<br>
                  また、お料理への細かいご要望にもお答えできますので、<br>
                  お気軽にお申し付けください。<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top_menu">
        <ul class="p-top_menu_list">
            <li class="p-top_menu_item"><a href="onsen.html">温泉</a></li>
            <li class="p-top_menu_item"><a href="cooking.html">お料理</a></li>
            <li class="p-top_menu_item"><a href="room">お部屋</a></li>
        </ul>
        <div class="c-title_area">
            <img src="../assets/img/header_logo.svg" alt="石井花壇">
            <h2 class="c-title">石井花壇</h2>
        </div>
        <dl class="p-top_menu_footer">
            <div class="p-top_menu_footer_item">
                <dt>〒000-0000</dt>
                <dd>山形県鶴岡市xxxxxxxxxxx</dd>
            </div>
            <div class="p-top_menu_footer_item">
                <dt>TEL.000-0000-0000</dt>
                <dd>FAX.00-0000-0000</dd>
            </div>
        </dl>
    </section>
    </main>
    <%- include('../_include/_footer') %>
  </div>
</body>
</html>