<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body id="top">
        <div class="wapper p-top">
            <%- include('../_include/_header') %>
            
                <main>
                    <section class="l-mv">
                        <ul id="slide_wrap">
                            <li class="slide_item"><img src="../assets/img/main_bg01.jpg" alt="トップ画像1"></li>
                            <li class="slide_item"><img src="../assets/img/main_bg02.jpg" alt="トップ画像2"></li>
                            <li class="slide_item"><img src="../assets/img/main_bg03.jpg" alt="トップ画像3"></li>
                        </ul>
                        <div class="l-mv_textArea">
                            <p class="l-mv_textArea_text">頑張る人の</p>
                            <p class="l-mv_textArea_text">頑張らない時間</p>
                        </div>
                    </section>

                    <section class="p-top_message">
                        <div class="p-top_message_textArea">
                            <span>温海温泉の</span>
                            <h2 class="p-top_message_textArea_title">美しさに癒やされて</h2>
                            <div class="p-top_message_textArea_box">
                                <p class="p-top_message_textArea_text">東北の奥座敷である温海温泉郷</p>
                                <p class="p-top_message_textArea_text">開湯は約1300年前とされ、役小角が</p>
                                <p class="p-top_message_textArea_text">発見したと伝えられます</p>
                            </div>
                            <div class="p-top_message_textArea_box">
                                <p class="p-top_message_textArea_text">石井花壇は江戸時代から続く由緒ある旅館で</p>
                                <p class="p-top_message_textArea_text">クラシックな作りの中に大正ロマンあふれる</p>
                                <p class="p-top_message_textArea_text">内装を残しております</p>
                            </div>
                            <div class="p-top_message_textArea_box">
                                <p class="p-top_message_textArea_text">圧倒的癒しの空間で</p>
                                <p class="p-top_message_textArea_text">頑張る現代人に</p>
                                <p class="p-top_message_textArea_text">頑張らない圧倒的な非日常をご提供します</p>
                            </div>
                            <p class="p-top_message_name">石井花壇</p>
                        </div>
                    </section>

                    <section class="p-top_about">
                        <div class="p-top_about_list">
                            <div id="room" class="p-top_about_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">　
                                <div class="p-top_about_item_img">
                                    <img src="../assets/img/about01.jpg" alt="お部屋">
                                </div>
                                <div class="p-top_about_item_textArea">
                                    <h3 class="c-textArea-title">喧騒から離れた空間<br>心落ち着く至極のひととき</h3>
                                    <p class="c-textArea-about">
                                        まるで時が止まったかのような、圧倒的な静寂のなかで、<br>
                                        ひたすらにゆったりと…。<br>
                                        最高級の「何もしない時間」をお過ごしください。<br>
                                    </p>
                                    <a href="room.html" class="c-button">お部屋について</a>
                                </div>
                            </div>
                            <div id="menu" class="p-top_about_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
                                <div class="p-top_about_item_img">
                                    <img src="../assets/img/about02.jpg" alt="メニュー">
                                </div>
                                <div class="p-top_about_item_textArea">
                                    <h3 class="c-textArea-title">出迎えるのは<br>極上の温海料理</h3>
                                    <p class="c-textArea-about">
                                        最も旬の食材を愉しむ、最高の贅沢を<br>
                                        最高級A5ランクの米沢牛と共に頂く。<br>
                                        あなたの人生史に残る「極上の感動」を<br>
                                        お約束します。
                                    </p>
                                    <a href="cooking.html" class="c-button">料理について</a>
                                </div>
                            </div>
                            <div id="onsen" class="p-top_about_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
                                <div class="p-top_about_item_img">
                                    <img src="../assets/img/about03.jpg" alt="温泉">
                                </div>
                                <div class="p-top_about_item_textArea">
                                    <h3 class="c-textArea-title">疲れ切った身体にやすらぎを<br>温海の源泉に癒やされて</h3>
                                    <p class="c-textArea-about">
                                        古くは弘法大師の病をも治療したと言われる熱海の泉質。<br>
                                        現代人の疲弊しきった身体を修復する最高級の湯治場として<br>
                                        ご活用ください。
                                    </p>
                                    <a href="onsen.html" class="c-button">温泉について</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="p-top_plan">
                        <div class="l-container">
                            <div class="c-title_area">
                                <img src="../assets/img/header_logo.svg" alt="石井花壇">
                                <h2 class="c-title">おすすめご宿泊プラン</h2>
                            </div>
                            <div class="p-top_plan_list "data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
                                <div class="p-top_plan_item">
                                    <img src="../assets/img/plan01.jpg" alt="プラン1">
                                    <p class="c-textArea-large">朝食付きプラン、日本近海で取れた<br>のどぐろを朝食として…</p>
                                    <p class="c-textArea p-top_plan_item_text">
                                        最高級と称されるのどぐろ、正式には「アカ
                                        ムツ」と呼ばれる魚、味は独特の上品な味わ
                                        いで、焼いても煮ても美味
                                    </p>
                                </div>
                                <div class="p-top_plan_item">
                                    <img src="../assets/img/plan02.jpg" alt="プラン2">
                                    <p class="c-textArea-large">【期間限定】熱海蟹をたっぷりと<br>愉しむプラン。</p>
                                    <p class="c-textArea p-top_plan_item_text">
                                        温海で水揚げされた蟹は「温海蟹」<br class="pc">
                                        として知られ、嗜好品として愛されて<br class="pc">
                                        きました。この宿泊プランでは存分に<br class="pc">
                                    </p>
                                </div>
                                <div class="p-top_plan_item">
                                    <img src="../assets/img/plan03.jpg" alt="プラン3">
                                    <p class="c-textArea-large">【平日限定】贅沢美味懐石プラン。<br>海辺の四季旬彩プラン。</p>
                                    <p class="c-textArea p-top_plan_item_text">
                                        熱海近海で取れた魚を鮮度そのままに舟盛りにしてご提供。生きた味をお楽しみください。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="p-top_news" data-aos="fade-up"  data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-center">
                        <div class="l-container">
                            <div class="c-title_area">
                                <img src="../assets/img/header_logo.svg" alt="石井花壇">
                                <h2 class="c-title">おすすめご宿泊プラン</h2>
                            </div>
                            <ul class="p-top_news_tag">
                                <li>営業情報</li>
                                <li>その他</li>
                            </ul>
                            <div class="p-top_news_area">
                                <ul class="p-top_news_area_list show">
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news01.jpg" alt="ニュース1">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日は27日になります。</p>
                                        </div>
                                    </li>
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news02.jpg" alt="ニュース2">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日のお知らせ</p>
                                        </div>
                                    </li>
                                    
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news02.jpg" alt="ニュース2">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.11">2020.12.11</time>
                                            <p class="p-top_news_area_item_textArea_text">12.21は臨時休業とさせていただきますので、よろしくお願いします。</p>
                                        </div>
                                    </li>
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news01.jpg" alt="ニュース1">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日のお知らせ</p>
                                        </div>
                                    </li>
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news01.jpg" alt="ニュース1">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.01">2020.12.01</time>
                                            <p class="p-top_news_area_item_textArea_text">和室の改装を行いますため、12.10はお休みさせていただきます。</p>
                                        </div>
                                    </li>
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news02.jpg" alt="ニュース2">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日のお知らせ</p>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="p-top_news_area_list">
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news02.jpg" alt="ニュース2">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日のお知らせ</p>
                                        </div>
                                    </li>
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news02.jpg" alt="ニュース2">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日のお知らせ</p>
                                        </div>
                                    </li>
                                    <li class="p-top_news_area_item">
                                        <div class="p-top_news_area_item_img">
                                            <img src="../assets/img/news02.jpg" alt="ニュース2">
                                        </div>
                                        <div class="p-top_news_area_item_textArea">
                                            <time datetime="2020.12.24">2020.12.24</time>
                                            <p class="p-top_news_area_item_textArea_text">年末最後の営業日のお知らせ</p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </section>

                    <section class="p-top_access" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
                        <div class="c-title_area">
                            <img src="../assets/img/header_logo.svg" alt="石井花壇">
                            <h2 class="c-title">アクセス</h2>
                        </div>
                        <div class="l-container">
                            <div class="p-top_access_item">
                                <div class="p-top_access_item_img">
                                    <img src="../assets/img/acess.jpg" alt="アクセス">
                                </div>
                                <div class="p-top_access_item_textArea">
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>〒000-0000<br>山形県鶴岡市xxxxxxxxxx</dd>
                                        <dt>TEL/FAX</dt>
                                        <dd>000-0000-0000/00-0000-0000</dd>
                                        <dt>営業時間</dt>
                                        <dd>14:00-23:00</dd>
                                    </dl>
                                    <p class="p-top_access_item_text">＊4名以上のご予約の場合は、最寄り駅の「鶴岡駅」より送迎が可能ですので、ご連絡ください。</p>
                                </div>
                            </div>
                            <div class="access-map">
                                <div class="iframe-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49867.71957553536!2d139.56345511342928!3d38.632035105007375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8c6dbd6c03ae15%3A0x10bc5da99bc816ef!2z44CSOTk5LTcyMDUg5bGx5b2i55yM6ba05bKh5biC5rip5rW3!5e0!3m2!1sja!2sjp!4v1627569475504!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="p-top_menu">
                        <ul class="p-top_menu_list">
                            <li class="p-top_menu_item"><a href="onsen.html">温泉</a></li>
                            <li class="p-top_menu_item"><a href="cooking.html">お料理</a></li>
                            <li class="p-top_menu_item"><a href="room.html">お部屋</a></li>
                        </ul>
                        <div class="c-title_area">
                            <img src="../assets/img/header_logo.svg" alt="石井花壇">
                            <h2 class="c-title">石井花壇</h2>
                        </div>
                        <dl class="p-top_menu_footer">
                            <div class="p-top_menu_footer_item">
                                <dt>〒000-0000</dt>
                                <dd>山形県鶴岡市xxxxxxxxxxx</dd>
                            </div>
                            <div class="p-top_menu_footer_item">
                                <dt>TEL.000-0000-0000</dt>
                                <dd>FAX.00-0000-0000</dd>
                            </div>
                        </dl>
                    </section>
                </main>

            <%- include('../_include/_footer') %>
        </div>
    </body>

</html>