<!DOCTYPE html>
<html lang="ja">
<%- include('../_include/_head') %>

<body>
  <div class="wapper p-top">
    <%- include('../_include/_header_low') %>
    <main>
      <section class="c-mv-onsen">
        <h2 class="c-mv_low_title">温泉</h2>
      </section>

      <div class="c-nav">
        <div class="l-container">
          <p><a href="/">トップ</a> > 温泉</p>
        </div>
      </div>

      <div class="c-textArea-low">
        <p class="c-textAera-low_text">
          心も身体も癒やす汐の温泉。<br>
          湯あたりしにくく、赤ちゃんから年配の方まで<br class="sp">どなたでもゆっくりと安心して入っていただけます。<br>
          柔らかく優しい湯にじっくりと漬かれば、<br class="sp">心身共にリラックスできます。<br>
        </p>
      </div>

      <section class="c-low_message onsen">
        <div class="l-container">
          <div class="c-low_message_list">

            <div class="c-low_message_item" data-aos="fade-up"  data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/onsen01.jpg" alt="貸し切り露天風呂「雲居の湯」">
              </div>
              <div class="c-low_message_item_textArea_onsen">
                <h3 class="c-low_message_item_textArea_title">貸し切り露天風呂「雲居の湯」</h3>
                <p class="c-textArea">
                  弱酸性の湯質が優しく肌を包み込むような心地よさ<br>
                  最上階の露天風呂「雲居の湯」では、湯冷めしにくい食塩泉を<br>
                  熱海の町並みを遠方に望みながら・・・<br>
                </p>
              </div>
            </div>

            <div class="c-low_message_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/onsen02.jpg" alt="美肌を促す乳白色の硫黄泉を">
              </div>
              <div class="c-low_message_item_textArea_onsen">
                <h3 class="c-low_message_item_textArea_title">美肌を促す乳白色の硫黄泉を</h3>
                <p class="c-textArea">
                  まじりっけなしの白いにごり湯。鳥海山から引いた酸性の強い硫酸塩泉を、<br>
                  たっぷりと掛け流しています。<br>
                  四季の移り変わりを、天然温泉の湯に浸りながら味わってください。<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top_onsen_effect">
        <div class="l-container">
          <div class="l-container-mini">
            <h3 class="p-top_onsen_effect_title">温泉の効能</h3>
            <dl class="p-top_onsen_effect_list">
              <div class="p-top_onsen_effect_item">
                <dt class="p-top_onsen_effect_item_title">効能</dt>
                <dd class="p-top_onsen_effect_item_text">神経痛・慢性関節リューマチ・腰痛・冷え性・慢性婦人病・うちみなど</dd>
              </div>
              <div class="p-top_onsen_effect_item">
                <dt class="p-top_onsen_effect_item_title">泉質</dt>
                <dd class="p-top_onsen_effect_item_text">ナトリウム・カルシウム-塩化物泉</dd>
              </div>
              <div class="p-top_onsen_effect_item">
                <dt class="p-top_onsen_effect_item_title">飲用効果</dt>
                <dd class="p-top_onsen_effect_item_text">弱塩化物泉は肌にやわらかなため、高齢者や病後の回復期によく、飲用すれば慢性便秘や慢性消化器病に効果があります。</dd>
              </div>
            </dl>
          </div>
        </div>
      </section>

      <section class="p-top_menu">
        <ul class="p-top_menu_list">
            <li class="p-top_menu_item"><a href="onsen.html">温泉</a></li>
            <li class="p-top_menu_item"><a href="cooking.html">お料理</a></li>
            <li class="p-top_menu_item"><a href="room.html">お部屋</a></li>
        </ul>
        <div class="c-title_area">
            <img src="../assets/img/header_logo.svg" alt="石井花壇">
            <h2 class="c-title">石井花壇</h2>
        </div>
        <dl class="p-top_menu_footer">
            <div class="p-top_menu_footer_item">
                <dt>〒000-0000</dt>
                <dd>山形県鶴岡市xxxxxxxxxxx</dd>
            </div>
            <div class="p-top_menu_footer_item">
                <dt>TEL.000-0000-0000</dt>
                <dd>FAX.00-0000-0000</dd>
            </div>
        </dl>
    </section>

    </main>
    <%- include('../_include/_footer') %>
  </div>
</body>
</html>