<!DOCTYPE html>
<html lang="ja">
<%- include('../_include/_head') %>

<body>
  <div class="wapper p-top">
    <%- include('../_include/_header_low') %>
    <main>
      <section class="c-mv-room">
        <h2 class="c-mv_low_title">お部屋</h2>
      </section>

      <div class="c-nav">
        <div class="l-container">
          <p><a href="/">トップ</a> > お部屋</p>
        </div>
      </div>

      <div class="c-textArea-low">
        <p class="c-textAera-low_text">
          創業より受け継がれてきた石井花壇の和の造り<br>
          温海の雄大な絶景を堪能して<br class="sp">いただけるように設計された客室<br>
          ゆるやかに流れ行く時間に身を委ねて<br>
        </p>
      </div>

      <section class="c-low_message">
        <div class="l-container">
          <div class="c-low_message_list">

            <div class="c-low_message_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/room01.jpg" alt="温泉付き客室">
              </div>
              <div class="c-low_message_item_textArea_room">
                <h3 class="c-low_message_item_textArea_title">温泉付き客室</h3>
                <p class="c-textArea">
                  温海の源泉かけ流し露天風呂付き客室になります。<br>あなただけの上質な安らぎのひとときを。
                </p>
                <p class="c-textArea-room">
                  ＊部屋数に限りがございます。<br>
                  ＊洗い場はないため、お体を先に大浴場でお流しになって頂く必要があります。
                </p>
              </div>
            </div>
            <div class="c-low_message_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/room02.jpg" alt="庭園付き客室">
              </div>
              <div class="c-low_message_item_textArea_room">
                <h3 class="c-low_message_item_textArea_title">庭園付き客室</h3>
                <p class="c-textArea">
                  庭園付きの客室になります。<br>お庭を見ながら、ほっとするひとときをお過ごしください。
                </p>
                <p class="c-textArea-room">
                  ＊お庭は複数のお客様と囲む形になります。<br>
                  ＊部屋数に限りがあります。<br>
                  ＊ご希望の方は「お抹茶/500円」をルームサービスさせていただきます。<br>
                </p>
              </div>
            </div>
            <div class="c-low_message_item" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease" data-aos-anchor-placement="top-bottom">
              <div class="c-low_message_item_img">
                <img src="../assets/img/room03.jpg" alt="一般客室">
              </div>
              <div class="c-low_message_item_textArea_room">
                <h3 class="c-low_message_item_textArea_title">一般客室</h3>
                <p class="c-textArea">
                  最もベーシックな客室になります。伝統の中にモダンさを取り入れた<br>内装となっており、とても過ごしやすくしていただけます。
                </p>
                <p class="c-textArea-room">
                  ＊全室お部屋より日本海を望むことができます。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top_menu">
        <ul class="p-top_menu_list">
            <li class="p-top_menu_item"><a href="onsen.html">温泉</a></li>
            <li class="p-top_menu_item"><a href="cooking.html">お料理</a></li>
            <li class="p-top_menu_item"><a href="room.html">お部屋</a></li>
        </ul>
        <div class="c-title_area">
            <img src="../assets/img/header_logo.svg" alt="石井花壇">
            <h2 class="c-title">石井花壇</h2>
        </div>
        <dl class="p-top_menu_footer">
            <div class="p-top_menu_footer_item">
                <dt>〒000-0000</dt>
                <dd>山形県鶴岡市xxxxxxxxxxx</dd>
            </div>
            <div class="p-top_menu_footer_item">
                <dt>TEL.000-0000-0000</dt>
                <dd>FAX.00-0000-0000</dd>
            </div>
        </dl>
    </section>
    </main>
    <%- include('../_include/_footer') %>
  </div>
</body>
</html>