<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>石井花壇 | 温海温泉旅館【公式サイト】</title>
    <meta name="keywords" content="">
    <meta name="description" content="日本古来の素材と現代的表現を併せ持つ温泉旅館、石井花壇。
    伝統的「和」の息づく空間で、至極のひとときをお過ごしください。">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="石井花壇 | 温海温泉旅館【公式サイト】" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="石井花壇 | 温海温泉旅館【公式サイト】" />
    <link rel="stylesheet" href="https://use.typekit.net/wqr3nol.css">

    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="./assets/js/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "HOME",
              "item": "https://www.middle-ex.group/"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "温泉",
              "item": "https://www.middle-ex.group/onsen.html"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "お料理",
              "item": "https://www.middle-ex.group/cooking.html"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "お部屋",
              "item": "https://www.middle-ex.group/room.html"
            }
          ]
        }
        </script>
</head>