.l-header {
  position: fixed;
  z-index: 10000;
  top:0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  &_left {
    display: flex;
    .l-header_logo {
      display: flex;
      @include tab {
        position: relative;
        z-index: 100;
      }
      &_img {
        img {
          width: 40px;
          filter: brightness(0) invert(1);
          
        }
      }
    }

    .l-header_title {
      align-self: center;
      margin-left: 15px;
      color:$white;
    }

    .l-header_nav {
      margin-left: 120px;
      @include fz(16,14);
      @include tab {
        margin-left: 0;
        width: 100%;
        height: 100vh;
        background:rgba(0,0,0,0.8);
        position: absolute;
        top:0;
        left:0;
        transition:.2s;
        pointer-events: none;
        opacity: 0;
        z-index: 100;
      }
      &_inner {
        @include pc {
          display: flex;
          align-items: center;
          height: 40px;
        }
        @include tab {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    
      &_cmn {
        &:not(:first-child) {
          margin-left: 30px;
        }
        a {
          color:$white;
        }
      }
    }

  }

  &_right {
   @include tab {
     opacity: 0;
     position: absolute;
     top:55vh;
     left:50%;
     transform:translateX(-50%);
     z-index: 1000;
   }
  }
}

.l-header_btn {
  z-index: 1000;
  &_hamburger {
    @include tab {
      position: relative;
      width: 40px;
      height: 18px;
    }
    @include sp {
      width: 30px;
      height: 14px;
    }
    span {
      @include tab {
        position: absolute;
        right: 0;
        transition: .2s;
        transform: translateY(0) rotate(0);
        display: block;
        width: 100%;
        height: 2px;
      }
    }

    span:nth-of-type(1) {
      width: 100%;
      top:0;
      background:$white;
    }
    span:nth-of-type(2) {
      top:50%;
      right:0;
      transform:translateY(-50%);
      background:$white;
    }
    span:nth-of-type(3) {
      bottom:0;
      background:$white;
    }
  }
}

.l-header.active {
  .l-header_btn_hamburger {
    span {
      background: $white;
    }
    span:nth-of-type(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    span:nth-of-type(2) {
      width: 0;
    }
    span:nth-of-type(3) {
      width: 100%;
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }

  .l-header_logo {
    position: relative;
    z-index: 1000;
    &_img {
      img {
        position: relative;
        z-index: 1000;
      }
    }
  }
  .l-header_btn_text {
    color: $white;
    &_inner {
      top: -1em;
    }
  }
  
  .l-header_nav {
    opacity: 1;
    pointer-events: auto;
  }

  .l-header_right {
    opacity: 1;
  }

  .c-button-header {
    opacity: 1;
  }

  
}

//下にスクロールした時
.l-header.scroll-nav {
  background:$black;
  .l-header_logo_img {
    &_img {
      img {
        filter: brightness(0) invert(0);
      }
    }
  }
}


/*==========================================================
# 予約モーダル
========================================================= */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  position: absolute;
  z-index: 10000;
}

.modal_bg {
  background:rgba(0,0,0,0.8);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.modal-content {
  background:$white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  
  @include sp {
    max-width: 300px;
  }

  .js-modal-close {
    position: absolute;
    top:20px;
    right: 22px;
    color:$black;
    width: 18px;
    height: 18px;
    span {
      position: absolute;
      width: 100%;
      display: block;
      height: 2px;
      background:$gray;
    }
    span:nth-child(1) {
      top:50%;
      width: 100%;
      transform: translateY(-50%) rotate(45deg);
    }
    span:nth-child(2) {
      top:50%;
      width: 100%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

form {
  padding:30px 60px 90px;
  p {
   text-align: center;
   @include fz(20,16);
   position: relative;
   padding-bottom: 30px;
   &::after {
     content:'';
      position: absolute;
      bottom:0;
      left:0;
      width: 100%;
      height: 1x;
      background:#E7E7E7;
   }
  }

  .modal-form-dl {

  }

  .modal-form-item {
    @include fz(16,14);
    &:not(:first-child) {
      margin-top: 14px;
    }
  }

  .modal-form-label {
    label {
      font-weight: lighter;
      @include fz(16,14);
    }
  }

  .modal-form-input {
    margin-top: 14px;
    input[type="text"] {
      appearance: none;
      background: transparent;
      border: none;
      border-radius: 0;
      font: inherit;
      outline: none;
      border:1px solid $modal_gray;
      width: 100%;
      padding:9px 0 9px 10px;
    }

    input[type="email"] {
      appearance: none;
      background: transparent;
      border: none;
      border-radius: 0;
      font: inherit;
      outline: none;
      border:1px solid $modal_gray;
      width: 100%;
      padding:9px 0 9px 10px;
    }
    select {
      appearance: none;
      background: transparent;
      border: none;
      border-radius: 0;
      font: inherit;
      outline: none;
      border:1px solid $modal_gray;
      width: 100%;
      padding:9px 0 9px 10px;
    }

  }

  .modal-form-btn {
    display: block;
    width: 100%;
    max-width: 198px;
    padding:13px 0;
    @include lh(1);
    @include fz(16,14);
    border:1px solid $black;
    text-align: center;
    margin:64px auto 0;
    @include tab {
      margin-top: 32px;
    }
  }
}

.l-header_low {

}